{% extends "layout.html" %}
{% block content %}
<h1>Game Stat Page</h1>

<h4>Choose a game in the drop-down menu to see the game and individual player stats.</h4>
<form action="/game_stats" method="POST">
    <select name="game">
        <option value="">Select Game</option>
        <option value="game1">Game 1</option>
        <option value="game2">Game 2</option>
        <option value="game3">Game 3</option>
        <option value="game4">Game 4</option>
        <option value="game5">Game 5</option>
        <option value="game6">Game 6</option>
    </select>

    <button>View</button>
</form>
{% if gameInfo != null %}
{% for info in gameInfo %}
<p>{{info}}</p>
{% endfor %}
{% endif %}


{% if totalPoints != null and totalRebounds != null and totalAssists != null %}
<h2>{{totalPoints[0][0]}} - Points: {{totalPoints[0][1]}} - Rebounds: {{totalRebounds[0][1]}} - Assists:
    {{totalAssists[0][1]}}</h2>
<h2>{{totalPoints[1][0]}} - Points: {{totalPoints[1][1]}} - Rebounds: {{totalRebounds[1][1]}} - Assists:
    {{totalAssists[1][1]}}</h2>

<h2>Home Team</h2>
<table border="1" class="customers" style="width:100%">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Team</th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
    </tr>
    {% for player in homeTeam %}
    <tr>
        {% for row in player %}
        <td>{{row}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h2>Away Team</h2>
<table border="1" style="width:100%">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Team</th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
    </tr>

    {% for player in awayTeam %}
    <tr>
        {% for row in player %}
        <td>{{row}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock content %}