{% extends "layout.html" %}
{% block content %}
<h1>Insert Player</h1>

<form action="/insert_player" method="POST">

    <div class="form-group">
        <label>First Name</label>
        <input style="width: 100px" type="text" class="form-control" name="firstname" required="1">
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input style="width: 100px" type="text" class="form-control" name="lastname" required="1">
    </div>

    <div class="form-group">
        <label>Height(ft)</label>
        <input style="width: 100px" type="text" class="form-control" name="height" required="1">
    </div>

    <div class="form-group">
        <label>Weight(lb)</label>
        <input style="width: 100px" type="text" class="form-control" name="weight" required="1">
    </div>

    <div class="form-group">
        <label>Age</label>
        <input style="width: 100px" type="text" class="form-control" name="age" required="1">
    </div>

    <div class="form-group">
        <label>Team ID</label>
        <input style="width: 100px" type="text" class="form-control" name="teamid" required="1">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Insert Player</button>
    </div>
</form>

{% endblock content %}