{% extends "layout.html" %}
{% block content %}
<h1>Team Page</h1>
<h4>Choose a team in the drop-down menu to see the players on the team.</h4>
<form action="/team" method="POST">

    <select name="team">
        <option value="">Select Team</option>
        <option value="team1">{{teams[0][0]}}</option>
        <option value="team2">{{teams[1][0]}}</option>
        <option value="team3">{{teams[2][0]}}</option>
        <option value="team4">{{teams[3][0]}}</option>
    </select>

    <button>View</button>

    {% if teamInfo != null %}
    <h2>{{ppg[0][0]}}</h2>
    <h4>Points Per Game: {{ppg[0][1]}}</h4>
    <h4>Rebounds Per Game: {{rpg[0][1]}}</h4>
    <h4>Assists Per Game: {{apg[0][1]}}</h4>
    <table border="1" style="width:100%">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Height (feet/inches)</th>
            <th>Weight (lbs)</th>
        </tr>
        {% for team in teamInfo %}
        <tr>
            {% for player in team %}
            <td>{{player}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</form>
{% endblock content %}