{% extends "layout.html" %}
{% block content %}


<form action="/update_game" method="POST">
    <h3>Select game result to update</h3>
    <select style="margin: 30px 0" name="game">
        <option value="">Select Game</option>
        <option value="game1">Game 1</option>
        <option value="game2">Game 2</option>
        <option value="game3">Game 3</option>
        <option value="game4">Game 4</option>
        <option value="game5">Game 5</option>
        <option value="game6">Game 6</option>
    </select>

    <div class="form-group">
        <label>Winner</label>
        <input style="width: 150px" type="text" class="form-control" name="winner" required="1">
    </div>

    <div class="form-group">
        <label>Loser</label>
        <input style="width: 150px" type="text" class="form-control" name="loser" required="1">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Game</button>
    </div>
</form>

{% if winner != null and loser != null %}
    <h4>Game Result for game {{game[4]}} updated!<br/>Winner: {{winner}}<br/>Loser: {{loser}}</h4>
{% endif %}

{% endblock content %}